body{
    box-sizing: border-box;
    margin: 0;
}
.pattern{
    background-color: #0089ff;
}

.color_grey{
    color: #444748f2;
}

.mark{
    background-color: yellow;
}

#list{
    padding-left: 0;
}