body{
    box-sizing: border-box;
    margin: 0;
    padding-left: 10px;
}
.pattern{
    background-color: #0089ff;
}

.color_grey{
    color: #444748f2;
}

.mark{
    background-color: yellow;
}

#list{
    padding-left: 0;
}

#logo{
   width: 300px;
   padding-bottom: 20px;
}

.booleaner{
    color: #739dc2;
}

.lightblue{
    background-color: #7ab7ec;
}